@charset "utf-8";
/*====CSS Reset====*/
html{color:#000;background:#fff}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul,li{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}

body { width:100%; min-width:970px;font-size: 12px; font-family:Tahoma,"宋体";color:#969696; line-height:1.6; margin:0; padding:0; letter-spacing:1px;}
h1,h2,h3,h4,h5,h6{ font-family:"Microsoft YaHei","微软雅黑",Tahoma,"宋体";}
.body_resize { width:960px; margin:0 auto; padding:0;}
.main { width:100%; margin:0 auto; padding:0; }

/*====全局连接-link====*/
a{color:#2490E8;text-decoration:none;}
a:hover{color:#60C2FF;text-decoration:none;}
.header { background:#fff; height:90px; margin:0 auto; padding:0; }
.block_header { width:960px; border:none; padding:0; margin:0 auto; }
.logo { float:left; padding-top:20px; }
.haiyan {float:right;clear:right;font-size: 13px; margin:0;padding-top:40px;height:24px;}
.header_text_java_bg { width:100%;height:330px; background:#3A3A3A url(images/bg_body_head.jpg); margin:0 auto; padding:0; }
.header_text_java { margin:0 auto; padding:0; width:100%;text-align:center;}
.flash-wrap{position:relative;  height:330px;}
.flash-content{height:330px;overflow:hidden;margin:0 auto;}
.flash-content ul{text-align:center;height:330px;}
#slidera{background:#3A3A3A url(images/index_banner01x2.jpg);background-repeat:no-repeat;height:330px;background-position:center;}
#sliderb{background:#3A3A3A url(images/index_banner01x.jpg);background-repeat:no-repeat;height:330px;background-position:center;}
#sliderc{background:#3A3A3A url(images/index_banner03x.jpg);background-repeat:no-repeat;height:330px;background-position:center;}
.flash-dot{overflow:hidden;position:absolute;left:50%;top:300px;}
.flash-dot li{float:left;	text-indent:-999em;	background:url(images/flashdot1.png) no-repeat 5px 7px;height:25px;width:22px;	cursor:pointer;}
.flash-dot li.nowflash{background:url(images/flashdot2.png) no-repeat 5px 7px;}
.topbanner { width:100%; height:270px; background:#3A3A3A url(images/bg_body_head.jpg); margin:0 auto; }
#banner-image { width:960px; margin:0 auto; }
#banner-image img { border: none; }
/* .navimenu {font-size:20px; font-family:"Microsoft YaHei","微软雅黑",Tahoma,"宋体";font-weight:normal;letter-spacing:2px;color:#868585; text-decoration:none; margin:10px 0; padding-top:6px; } */
.navimenu {margin:13px 0;height:20px;}
.latest_works { width:960px; margin:20px auto; }
.latest_works ul { margin:0; padding:0; }
.latest_works li { list-style:none; width:200px; float:left; text-align:center; margin:8px 0; }
.latest_works li.rights { margin-left:53px; }
.latest_works li:hover{ background:#efefef; } 
.latest_works li:hover a{color:#555;}
.latest_works a:hover { color:#2490E8; }
.latest_works h2 {width:960px; border-bottom:1px solid #ccc; float:left; font-size:15px; font-weight:bold; color:#2490E8; margin-bottom:6px; padding:6px 0; }
.latest_works h2 a{font-size:15px; font-weight:bold; color:#2490E8;text-decoration:none;}
.latest_works h2 a:hover{color:#60C2FF; text-decoration:none;}
.latest_works p { padding:8px 0; }
.latest_works li img { border:none; width:200px; height:100px; }
.latest_works a { font-size:13px; color:#999; text-decoration:none; }
#sidebar {display:block;	position:fixed;	top:450px;	right:0px;	width:40px;height:40px;background:url('images/side_contact.png') top left no-repeat;z-index:1000;}


/**▼▼▼首页 服务、理念▼▼▼**/
.body h2 { border-bottom:1px solid #ccc; margin:0; padding:5px 0;font-size:15px; font-weight:bold; color:#2490E8;}
.body h2 a{ font-size:15px; font-weight:bold; color:#2490E8; text-decoration:none;}
.body h2 a:hover{color:#60C2FF; text-decoration:none;}
.body p { margin:0; padding:0; }
.body p.grey { font-size:13px; width:400px; color:#999; text-align:right; float:right; margin:0; padding:5px 0; }
.clients { width:960px; height:70px; margin-top:5px; padding-top:5px; }
#clients_contents { list-style:none; margin:0 auto; height:50px; overflow:hidden; }
#clients_contents li { width:905px; }
.gallery { float:left; width:960px; height:330px; margin:0; overflow:hidden; }
#slider { height:300px; margin:0; padding:0; list-style:none; overflow:hidden; }
#slider ul, #slider li { margin:0; padding:0; list-style:none; }
#slider li { width:960px; height:300px; overflow:hidden; }
p#controls, p#controls2 { margin:0; position:relative; }
#prevBtn2, #nextBtn2 { overflow:hidden; text-indent:-8000px; width:20px; height:42px; position:absolute; left:0; top:-48px; }
#nextBtn2 { left:940px; }
#prevBtn2 a, #nextBtn2 a { display:block; width:20px; height:42px; background:url(images/l_arrow.gif) no-repeat 0 0; }
#nextBtn2 a { background:url(images/r_arrow.gif) no-repeat 0 0; }
.left { width:500px; float:left; margin-top:10px; padding:0; }
.right { width:420px; float:right; margin-top:10px; padding:0; }
.left ul { margin:0; padding:0;font-size:12px;font-family:Tahoma,"宋体";color:#aaa }
.left li {float:left;  width:245px; padding:5px 5px 5px 0; }
.wmc-icon {position:relative; float:left; margin:30px 10px 20px 0; }
.left h2 { font-size:13px; font-weight:bold; color:#777; margin:0; padding:4px 0;text-decoration:none; }
.left a{color:#777; text-decoration:none;}
.left a:hover{color:#2490E8; text-decoration:none;}
#index_all{padding-left:20px;}

p.grey a{ font-size:13px; width:400px; color:#2490E8; text-align:right; float:right; margin:0; padding:5px 0; text-decoration:none; }
p.grey a:hover{color:#60C2FF; text-decoration:none;}


/* ▼▼▼服务 HTML▼▼▼*/
.FBG_resize { width: 960px; margin-top: 15px; }
.FBG_resize ul {list-style:none; margin:0; padding:0; }
.FBG_resize li {float:left; margin-bottom:20px; padding:0 5px; }
.FBG_resize .lefts { width:285px; float:left; }
.FBG_resize .rights { width:285px; float:left; margin-left:37px; }
.FBG_resize .lefts  ul,.FBG_resize .rights  ul{ margin-top:6px; padding:0; }
.FBG_resize .lefts  li,.FBG_resize .rights  li{color:#555;width:260px; margin:3px 0; padding:0;background:url(images/bg_list.png) 0 2px no-repeat;padding-left:20px; }
.FBG_resize h2 { font-size:15px; font-weight:bold; border:none; color:#555; margin:0; padding:4px 0; }
.FBG_resize h2 a{font-size:15px;color:#555; }
.FBG_resize h2 a:hover {color:#555; }
.FBG_resize p { font-family:tahoma,arial; font-size:12px; color:#999; line-height:1.5em; margin-top:6px; padding:0; }
.FBG_resize img { margin:3px 0; padding:0; }
#ourclients {clear:both; width:960px;margin:20px auto;padding:0;text-align:center;}
#more { font-size:12px; text-align:right; margin:0; padding:2px 6px; }
/*  ▲▲▲服务 HTML▲▲▲*/	


/* ▼▼▼案例 HTML▼▼▼*/
.selectworks ul {font-size:12px;font-family:"Microsoft YaHei","微软雅黑",Tahoma;font-weight:bold; overflow:hidden; padding:15px 0; }
.selectworks li a{color:#fff;float:left;padding:4px 10px;border-radius:3px 3px 3px 3px; margin-right:10px;background-color:#b9d4e4;}
.selectworks li a:hover{color:#fff; background-color:#2490E8;}
 #workscurrent {float:left;padding:4px 10px;border-radius:3px 3px 3px 3px; margin-right:10px;color:#fff; background-color:#2490E8;}
#buttoms {font-size:12px;font-weight:bold;text-align:center; padding:20px 0; }
#buttoms a, #buttoms a:visited { color:#fff; background-color:#aaa; margin:4px; padding:4px 6px; text-decoration:none;}
#buttoms a:hover { color:#fff; background-color:#555; }
#buttoms span.current { color:#fff; background-color:#0076C9; margin:4px; padding:4px 6px; }
/* ▲▲▲案例 HTML▲▲▲*/	

/* ▼▼▼案例详情 HTML▼▼▼*/		
.works {width:960px; margin-top:10px; padding:0; }
.works ul { margin:0; padding:0; }
.works li.rights { margin-left:53px; }
.works li:hover a{color:#2490E8;}
.works h2 { font-size:14px; color:#555; border:none; font-weight:normal; }
.works h2 a{ font-size:14px; color:#555; border:none; font-weight:normal;font-family:"Microsoft YaHei","微软雅黑",Tahoma;padding:2px 0; }
.works li { list-style:none; width:200px; float:left; padding:8px 0; }
.works a:active, .works a:visited, .works a:link, .works a:active, .works a:visited { color:#555;text-decoration:none; }
.works a:hover { color:#2490E8; text-decoration:none; }
.works li img { border:none; background: #fff; margin:0;padding:0; }
.works p { color:#999; margin-top:6px; padding:2px 0; }
.worksdetail .left { width:480px; float:left; overflow:hidden; margin-bottom:10px;}
.worksdetail .right { width:440px; float:right; text-align:left; }
.worksdetail h2 { font-size:15px; color:#2490E8; margin-bottom:10px; padding-left:1px; }
.worksdetail p { font-size:12px; color:#969696; padding-bottom:5px; }
.worksdetail_img { margin:20px auto;clear:both; width:960px;padding:0;text-align:center;}
.worksdetail_img img {clear:both; margin:20px auto;padding:0;border:none;}
.worksdetail p a:link, .worksdetail p a:active, .worksdetail p a:visited { color:#2490E8;text-decoration:none; }
.worksdetail p a:hover { color:#000; }
/* ▲▲▲案例详情 HTML▲▲▲*/	

/* ▼▼▼联系 HTML▼▼▼*/
.contact_contentinner .left { width:560px; float:left; overflow:hidden; padding-bottom:10px; }
.contact_contentinner p { font-size:13px; color:#696969; padding-bottom:10px; }
.contact_contentinner h2 { font-size:15px; font-weight:bold; color:#696969; margin-bottom:10px; padding-left:1px; }
.contact_contentinner .right { width:340px; float:right; text-align:left; padding-bottom:10px; }
.contacts_item {margin:0;padding:0;}
.contacts_item ul{margin:0;padding:0;}
.contacts_item li{margin:0;padding:0;width:100%;height:32px;}
.contacts_item p{float:left;margin:0;padding:0;}
.contacts_item li img{float:left;padding-right:3px;margin:0;}
/* ▲▲▲联系 HTML▲▲▲*/	

p.clr, .clr { clear:both; width:960px; background:none; margin:0; padding:0; }
p.cle, .cle { clear:both; border-bottom:1px solid #dad9d9; background:none; margin:5px 0; padding:0; }
.clee { clear:both;background:none; margin:2px 0; padding:0; }
.cles{ clear:both;background:none;margin:40px 0; padding:0; }
#mediaplayer {width:560px;margin:0 200px;padding:0;}
li.bg, .bg { clear:both; margin-bottom:20px; background:none; padding:0; }
.dotted { border-bottom:1px dotted #dad9d9; background:none; margin:0; padding:0; }
.works_space { clear:left; border-bottom:1px dotted #dad9d9; background:none; margin:0; padding:15px 0; }

/* ▼▼▼合作伙伴 HTML▼▼▼*/
.logolinks { width:960px; margin:0 auto; }
.logolinks .logos {overflow:hidden; padding:13px 15px 26px 5px; }
.logolinks .logos  h3{ font-size:14px;font-weight:bold;color:#666; }
.logolinks .logos li img {vertical-align:middle; }
.logolinks .logos li { float:left; width:160px; height:65px;margin-left:24px; margin-top:25px; display:inline; border:none; }
.logolinks .logos li img {vertical-align:middle; }
/* ▲▲▲合作伙伴 HTML▲▲▲*/	

/* ▼▼▼iPad HTML▼▼▼*/
#ipad{ background:none; } 
#ipad h2 { font-size:20px; font-weight:normal; border:none; color:#555; margin:0; padding:4px 0; }
#iPadTitle h2 { font-size:30px; font-weight:normal; border:none; color:#2391E8; margin:30px 0;text-align:center; height:30px;}
#iPadDes p { font-family:tahoma,arial; font-size:14px; color:#777; line-height:1.5em; margin:30px 0; padding:0; }
#ipad p { font-family:tahoma,arial; font-size:13px; color:#666; line-height:1.5em; margin-top:6px; padding:0; }
#ipad li{ color:#999; } 
#ipad img { margin:3px 0; padding:0; }

.iPadCapture{margin:40px 0; padding:0;width:960px;}
.iPadCapture ul{margin:20px 0; padding:0;}
.iPadCapture li{margin:0; padding:0;float:left;width:480px;}
.iPadCapture h2{padding:5px 20px;margin-top:15px;font-size:20px; font-weight:normal;border:none;color:#555;}
.iPadCapture p{padding:5px 20px;}
/* ▲▲▲iPad HTML▲▲▲*/


/* ▼▼▼footer▼▼▼*/	
.footer_resize { width:100%; margin:0 auto; padding:0; }
.footer { margin:0 auto;background:#f0f0f0 url(images/bg_body.jpg);height:50px;  }
.footer a:link, .footer a:visited, .footer a:active{ color:#888; text-decoration:none; }
.footer  a:hover { color:#333; text-decoration:none; }
.footer_content { width:960px; margin:0 auto;padding-top:7px;}
.footer_content .section { float:left; margin:0; }
ul.api_plugins { float:left; padding:8px 0; }
ul.api_plugins li { float:left; margin:0 18px 0 0; padding:0; }
ul.policies_notices { float:right; padding:8px 0; }
ul.policies_notices li { float:left; margin:0 0 0 18px; padding:0; }

/* 友情链接 */
.friend_links {width:100%;background:#2a2a2a url(images/bg_body_grayc.jpg); margin:0 auto;padding-top:10px;font-family:Helvetica,Verdana,Arial;font-size:11px;color:#555;height:18px;}
.friend_links  ul {width:960px; margin:0 auto; padding:0 auto; }
.friend_links  li{ float:left;margin:0; padding-left:10px;}
.friend_links a:link, .friend_links a:visited, .friend_links a:active{color:#555; text-decoration:none; }
.friend_links a:hover{ color:#aaa; text-decoration:none; }
#titled{ float:left;margin:0; padding:0;}
.footer_copyright { background:#2a2a2a url(images/bg_body_grayc.jpg);width:100%;margin:0 auto;height:100px; }
.copyright { clear:both; color:#555;font-family:"Microsoft YaHei","微软雅黑",Tahoma,"宋体"; font-size:13px; text-align:center; letter-spacing:0.5px; padding-top:15px;}
.orca { clear:both; text-align:center; letter-spacing:0.5px; padding-top:15px;}
.copyright a:link, .copyright a:visited, .copyright a:active { color:#555; text-decoration:none; }
.copyright a:hover { color:#eee; text-decoration:none; }
/* ▲▲▲footer▲▲▲*/	
